<!DOCTYPE html>
<html>

<head>
    <style>
        * {
            font-family: Arial;
            margin: 2px;
            padding: 10px;
            text-align: center;
            position: flex;
        }

        h2 {
            color: green;
            padding: 2px;
        }

        body {
            margin-top: 10%;
        }
    </style>
</head>
 <body>
<div style="text-align:center;">
    <h1>Welcome to SCB Accelerate!!</h1>
    <h3>Register Here!!</h3>
    <form class=" " action="register" method="post">
        <table style="display:inline-table;">
            <tr><td>Name</td>
            <td><input type="text" name="username" value="" placeholder="Enter Username" required/></td>
            </tr>
            <tr><td>Email</td>
            <td><input type="text" name="email" value="" placeholder="Enter email"  required/></td>
            </tr>
            <tr><td>Password</td>
            <td><input type="password" name="password" value="" placeholder="Enter Password" required/></td>
            </tr>
        </table><br>
        <input type="submit" name="" value="Submit">
    </form>

    </div>
</body>

</html>